:root {
  --link-small-white-font-family: "Inter", Helvetica;
  --link-small-white-font-weight: 400;
  --link-small-white-font-size: 14px;
  --link-small-white-letter-spacing: 0px;
  --link-small-white-line-height: 26px;
  --link-small-white-font-style: normal;
}
